Source: ob-welcome
Section: utils
Priority: optional
Maintainer: Denis Maslo <deni@bosniana.org>
Standards-Version: 4.6.0
Build-Depends: debhelper-compat (= 13), gettext

Package: ob-welcome
Architecture: all
Depends: ${misc:Depends}
Description: OB Welcome tool
 A tool to manage welcome settings and configurations.

